\.vs/
__pycache__/
*.pyc
*.log
venv
ApplyPEP8\.bat
custom_mappings.yaml
failed_matches\.txt
logo\.psd
settings\.ini
update_anilist\.bat
update_anilist_test\.bat
\.env
plexanisync_cache\.db
plexanisync_cache\.db-journal
plexanisync_cache\.db-wal
plexanisync_cache\.db-shm